body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.city1, 
.city2,
.city3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.city1 {
    background-image: url(../img/city-1.jpg);
    min-height: 100%;
}

.city2 {
    background-image: url(../img/city-2.jpg);
    min-height: 500px;
}

.city3 {
    background-image: url(../img/city-3.jpg);
    min-height: 500px;
}

.section {
    text-align: justify;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #262626;
    color: #ddd;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 28px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.text .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {
    .city1,
    .city2,
    .city3 {
        background-attachment: scroll;
    }
}

footer {
    width: 100%;
    height: 180px;
    background-color: #111;
    padding: 10px 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* footer h1 {
    padding: 10px;
    text-align: center;
} */

footer .donate {
    text-align: center;
    padding: 25px;
}

footer .donate img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    transition: top ease 0.5s;
}

footer .donate img:hover {
    top: -10px;
}

footer .copy {
    /* justify-content: center;
    align-items: center; */
    padding-bottom: 0px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

footer .copy:hover {
    color: #ddd;
}